/* Reset some default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the body */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex; /* Create a flex container to arrange rows */
  flex-direction: column; /* Arrange items vertically within the flex container */
  height: 100vh; /* Make the container take up 100% of the viewport height */
  margin: 0; /* Remove default body margin */
}

/* Style the top navbar */
.horizontal-navbar {
  background-color: #333;
  color: #fff;
  padding: 8px; /* Adjusted padding */
  margin: 0; /* Remove margin */
  z-index: 2; /* Ensure it's on top of other content */
  height: 4vh; /* Adjusted height to 4% of viewport height */
}

.horizontal-navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.horizontal-navbar li {
  margin-right: 10px;
}

.horizontal-navbar a {
  text-decoration: none;
  color: #fff;
}

/* Create a flex container for the page */
.page-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically within the flex container */
  flex: 1; /* Allow the container to take up available space */
}

/* Create a flex container for the vertical navbar and main content */
.container {
  display: flex;
  flex-direction: row; /* Arrange items horizontally within the flex container */
  flex: 1; /* Allow the container to take up available space */
}

/* Style the side navbar */
.vertical-navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 20vh; /* Adjusted width to 20% of viewport height */
  z-index: 1; /* Ensure it's behind the horizontal navbar */
}

.vertical-navbar ul {
  list-style: none;
}

.vertical-navbar li {
  margin-bottom: 10px;
}

.vertical-navbar a {
  text-decoration: none;
  color: #fff;
}

/* Add margin to the main content to create spacing and make it scrollable */
main {
  flex: 1; /* Allow the main content to take up more available space */
  overflow-y: auto; /* Add vertical scroll if content exceeds the height of the main content area */
  padding: 10px;
  background-color: #fff;
}

/* Style the book list */
main ul {
  list-style: none;
}

main li {
  margin-bottom: 10px;
}
